<!-- {{ticker|json}} -->
<button (click)="startDashboard()">Start Ticker</button>
<button (click)="getChartData()">Start Chart</button>
<button (click)="stopDashboard()">Stop</button>
<div *ngIf='ticker'>
<p-dataTable [value]="ticker|btcTicker">
    <p-column field="coin" header="COIN" [sortable]="true"></p-column>
    <p-column field="coinname" header="CoinName" [sortable]="true"></p-column>
    <p-column field="price" header="Price" [sortable]="true"></p-column>
    <p-column field="change" header="Change" [sortable]="true"></p-column>
</p-dataTable> 
</div>
