.tableA{
    width:20%;
    display:inline-block;
    padding: 5px 5px 5px 5px;
    vertical-align: top;   
}
.tableB{
    width:75%;
    display:inline-block;
    padding: 5px 5px 5px 5px;
    vertical-align: top;   
}